
.top_image {
    background: url("../images/1.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;

}




.title1\.1 {
    font-size: 80px;
    font-weight: bolder;
    color: white;
    padding-left: 150px;
    padding-top:130px;
    margin: 0;

}
.title1\.2{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-left: 150px;
    margin: 0;
}

.title1\.3 {
    color: white;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    width: 500px;
    word-break: break-word;
    margin: 0;
    left: 150px;
}

.vector {
    width: 550px;
    background:white;
    height: 2px;
    margin: 13px 150px;

}

/*

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .46875rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn-primary {
    color: #fff;
    background-color: #58A0DB;
    border-color: #509bd5;
    box-shadow: none;
    border-radius: 20px;

}
.btn1 {
    margin-top: 45px;
    margin-left: 900px;
    box-shadow: 5px 5px 8px #4a8dc0;

}
.btn1:hover {
    background: #3882b0;
    border-color: #438abd;
    box-shadow: 5px 5px 8px #356d8f;
}
*/



.btn1 {
    position: absolute;
    left: 900px;
    top: 180px;

}
.btn1 a {
    text-decoration: none;
    color: white;
}
.btn1 a:visited {
    text-decoration: none;
    color: white;
}


.background1{
    margin: 0;
    background: #f1f1f1;
    width: 100%;
    height: 620px;
}
.background2 {
    margin: 0;
    background: #9EB3CE;
    width: 100%;
    height: 620px;
}


.title2{
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}

.title2 span{
    color: #646DB1;
}
.vector2{
    width: 100px;
    background: black;;
    height: 4px;
    margin: 8px 580px;
}


.box1 {
    width: 315px;
    height: 380px;
    opacity: 1;
    position: relative;
    top: 53px;
    left: 80px;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
}

.box2 {
    width: 315px;
    height: 380px;
    opacity: 1;
    position: relative;
    top: -318px;
    left: 480px;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
}

.box3 {
    width: 315px;
    height: 380px;
    opacity: 1;
    position: relative;
    top: -688px;
    left: 880px;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
}




.news_image {
    width: 200px;
    height: 120px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 45px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;

}
.news_content {
    width: 300px;
    height: 350px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.news_title {
    width: 220px;
    word-break: break-word;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 140px;
    left: 40px;
    font-weight: bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.news {
    width: 220px;
    height: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 210px;
    left: 40px;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

   
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.box1:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);

}

.box1:hover>.news_content {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.43);
}

.box2:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);

}

.box2:hover>.news_content {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.43);
}

.box3:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);

}

.box3:hover>.news_content {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.43);
}

.btn2 {
    width: 80px;
    margin: 0;
    border: 0;
    background: white;
    position: absolute;
    top: 300px;
    left: 200px;
    opacity: 1;

}
.btn2 a {
    text-decoration: none;
    color: rgba(100,109,177,1);
    font-weight: normal;
    font-size: 18px;
    text-align: left;
}
.btn2 a:visited {
    text-decoration: none;
    color: rgba(100,109,177,1);
}

.btn3 {
    width: 150px;
    margin: 0;
    border: 0;
    background: #f1f1f1;
    position: relative;
    top: -680px;
    left: 1060px;
    opacity: 1;
}

.btn3 a {
    text-decoration: none;
    color: rgba(100,109,177,1);
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}
.btn3 a:visited {
    text-decoration: none;
    color: rgba(100,109,177,1);
}

.title3 {
    margin: 0;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0 20px 30px;
    color: white;
}


.box_shadow{
    margin-left: 30px;
    width: 598px;
    height: 296px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
    transition: transform .2s, box-shadow .2s;

}

.R_img1 {

    width: 600px;
    height: 300px;
}

.box_shadow:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);
    box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.25);

}

.R_title {
    color: white;
    font-size: 22px;
    font-weight: 600;
    width: 280px;
    margin-left: 30px;
}
.vector3 {
    width: 300px;
    background: #ffffff;;
    height: 2px;
    margin: 8px 30px;
}
.date1 {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-left: 30px;
}

.R {
    color: white;
    font-size: 20px;
    font-weight: normal;
    width: 270px;
    height: 135px;
    position: relative;
    top: -150px;
    left: 360px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;


    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

.box3\.0 {
    position: absolute;
    top: 1320px;
    left: 710px;
}

.box3\.1 {
    width: 400px;
    position: relative;
    top: 0px;
    left: 0px;

}
.box3\.2 {
    width: 400px;
    position: relative;
    top: 50px;
    left: 0px;

}
.box3\.3 {
    width: 400px;
    position: relative;
    top: 100px;
    left: 0px;

}


.box_shadow3\.1 {

    width: 198px;
    height: 106px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
    transition: transform .2s, box-shadow .2s;
}



.R_img2 {

    width: 200px;
    height: 110px;
}

.box_shadow3\.1:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);
    box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.25);

}

.R_title2 {
    color: white;
    font-size: 16px;
    font-weight: 550;
    width: 250px;
    position: absolute;
    left: 250px;
    top: -10px;

}
.vector4 {
    width: 280px;
    background: #ffffff;;
    height: 2px;
    position: absolute;
    left: 250px;
    top: 80px;
}
.date2 {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: normal;
    width: 200px;
    position: absolute;
    left: 250px;
    top: 100px;
}
.btn4{
    width: 200px;
    margin: 0;
    border: 0;
    background: #9EB3CE;
    position: relative;
    top: -200px;
    left: 1020px;
    opacity: 1;
}
.btn4 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}
.btn4 a:visited {
    text-decoration: none;
    color: white;
}

.title4{
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 1885px;
    left: 450px;
}

.title4 span{
    color: #646DB1;
}
.vector5{
    width: 100px;
    background: black;;
    height: 4px;
    position: absolute;
    top: 1935px;
    left: 580px;

}

.box4\.1 {
    width: 300px;
    height: 360px;
    opacity: 1;
    position: absolute;
    top: 1980px;
    left: 80px;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
}

.box4\.2 {
    width: 300px;
    height: 360px;
    opacity: 1;
    position: absolute;
    top: 1980px;
    left: 480px;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
}

.box4\.3 {
    width: 300px;
    height: 360px;
    opacity: 1;
    position: absolute;
    top: 1980px;
    left: 880px;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
}

.img-box {
    width: 220px;
    height: 220px;
     position: relative;
     top: 0px;
     left: 45px;
}

.compe_image {
    max-width: 220px;
    max-height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;

}

.compe_image2 {
    width: 250px;
    position: absolute;
    top: 40px;
    left: 30px;

}

.box_shadow4\.1 {
    width: 198px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
}
.box_shadow4\.2 {
    width: 248px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
}

.compe_content {
    width: 270px;
    height: 240px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 15px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.compe_title {
    width: 220px;
    word-break: break-word;
    color: rgb(100, 109, 177);
    position: absolute;
    top: 190px;
    left: 120px;
    font-weight: bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.compe {
    width: 220px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 250px;
    left: 40px;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.box4\.1:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);

}

.box4\.1:hover>.compe_content {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.43);
}

.box4\.2:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);

}

.box4\.2:hover>.compe_content {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.43);
}

.box4\.3:hover {
    transition: transform .2s, box-shadow .2s;
    transform: translateY(6px);

}

.box4\.3:hover>.compe_content {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.43);
}


.btn5{
    width: 200px;
    margin: 0;
    border: 0;
    background: #f1f1f1;
    position: absolute;
    top: 2380px;
    left: 1020px;
    opacity: 1;
}


.btn5 a {
    text-decoration: none;
    color: rgba(100,109,177,1);
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}
.btn5 a:visited {
    text-decoration: none;
    color: rgba(100,109,177,1);
}



