.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
     
}

.grid-item {
    
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
}




.top_image {
    background: url("../images/11.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 400px;

}

.vector {
    width: 460px;
    background: white;
    height: 4px;
    margin: 0;
    position: relative;
    top:200px;
    left: 430px;


}



.card {
    width: 1200px;
    height: 2400px;
    background-color: white;
    
    border-radius: 28px;
    box-shadow: 4px 4px 8px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -40px;
    left: 40px;
    border:white solid 2px;

}


.btn {
    position: relative;
    width: 120px;
    height: 45px;
    border-radius: 8px;
    border: none;
    top:40px;

}

.btn1 {
    background-color: white;
    border: #58A0DB solid 2px;

}



.btn1 a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.btn1 a:visited {
    text-decoration: none;
    color: black;
}


.btn2 {
    background-color: #58A0DB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1),
        4px 4px 8px 5px rgba(43, 144, 217, 0.2);

}

.btn2:hover {
    background-color: #59a2ddbe;
}


.btn2 a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.btn2 a:visited {
    text-decoration: none;
    color: white;
}


.vector2 {
    width: 160px;
    background: black;
    height: 3px;
    margin: 0;
    position: relative;
    top: 35px;
    left: 515px;

}
.vector3 {
    width: 160px;
    background: black;
    height: 3px;
    margin: 0;
    position: relative;
    top: 120px;
    left: 515px;

}

.card-container {
    width: 250px;
    height: 250px;
    position: relative;
    left: 70px;
    top:100px;
}

.cover,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
   
    border-radius: 18px;
    color: #fff;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.cover {
   background: linear-gradient(181.66deg, #9EB1CF -12.75%, #374EC7 -12.73%, #8694DE 48.73%, #A59ECF 129.47%),
   rgba(255, 255, 255, 0.5);
   opacity: 0.8;
    transform: rotatey(0deg);
}

.back {
    background: linear-gradient(181.66deg, #9EB1CF -12.75%, #374EC7 -12.73%, #8694DE 48.73%, #A59ECF 129.47%),
    rgba(255, 255, 255, 0.5);
    opacity: 1;
   

    transform: rotatey(-180deg);
}

.card-container:hover .cover {
    transform: rotatey(180deg);
}

.card-container:hover .back {
    transform: rotatey(0deg);
}



.p {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.25);
    position:absolute;
    top:-40px;
}

.name {
    font-size: 28px;
    font-weight: bold;
    position:relative;
    left: 5px;
    top:20px;
}

.intro {
    font-size: 18px;
    font-weight: normal;
    width: 200px;
    position: relative;
    top:-20px;
}

.btn3 {
    position: absolute;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border: none;
    top:190px;
    background-color: white;
}

.btn3 a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #E0C091;
}

.btn3 a:visited {
    text-decoration: none;
    color: #E0C091;
}
