.nav {
    width: 100%;
    height: 70px;
    margin: 0;

     background: linear-gradient(90.34deg, #293DA5 -0.34%, #7885C8 53.23%, #a49fc1 106.8%);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.title0 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    left: 535px;

}

.vector0 {
    width: 240px;
    background: #000000;
    height: 4px;
    position: absolute;
    left: 505px;
    top: 150px;
    margin: 0;
}


.container {
    width: 800px;
    position: absolute;
    left: 80px;
    top:150px;
    
}


.card1 {
        position: absolute;
        width: 400px;
        height: 300px;
        left: 38%;
        margin: 30px;
        
      /* background: linear-gradient(37.32deg, rgba(241, 241, 241, 0.5) -22.19%, rgba(144, 156, 200, 0.5) 71.76%, rgba(139, 148, 198, 0.5) 91.38%, rgba(108, 120, 162, 0.5) 105.24%);*/

       border-radius: 21px;
     transition: transform .2s,box-shadow .2s;

    }
.card1:hover, .card2:hover {
     border:  rgba(100, 121, 200, 0.2) solid 2px;
     box-shadow: 4px 4px 8px rgba(186, 186, 241, 0.25);
}



.container ul {
     list-style-type: none;
     margin: 0;
     padding-left: 0;
    
   
}

.container li {
    display: flex;
    text-align: center;
    justify-content: center;

}


.container li a {
    width: 200px;
    display: block;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 350;
    border-radius: 8px;
    margin: 0px 0;
}

.container li a:hover {
    color: white;
    background-color: rgba(66, 65, 87, 0.5);

}


.card2 {

   
     width: 600px;
     height: 450px;
     position: relative;
     top: 350px;
     left: 30%;
   
     /*background: linear-gradient(37.32deg, rgba(241, 241, 241, 0.5) -22.19%, rgba(144, 156, 200, 0.5) 71.76%, rgba(139, 148, 198, 0.5) 91.38%, rgba(108, 120, 162, 0.5) 105.24%);*/

     border-radius: 21px;
     transition: transform .2s, box-shadow .2s;
}


table {
    display: flex;
    text-align: center;
    justify-content: center;
}



td {
     text-align: left;
     width: 250px;
    
 
}

td a{
    display: block;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 350;
    border-radius: 8px;
    margin: 0px 0;

}

td a:hover {
    color: white;
    background-color: rgba(66, 65, 87, 0.5);

}


.footer {
    position: relative;
    bottom: 0;
    top: 950px;
}